# these are for remote workers to be able to communicate.
# not needed except if using the `services` queue.
# if the repo is public, you can leave these blank.
# if private, generate read-only App Credentials/Passwords from your git host
CLEARML_AGENT_GIT_PASS=
CLEARML_AGENT_GIT_USER=
# CLEARML_AGENT_ACCESS_KEY=
# CLEARML_AGENT_SECRET_KEY=

# optional (if just testing)
# ELASTIC_PASSWORD=<recommended>

# these need to be set in order to run tasks (remotely or locally)
# alternatively, you can set them in `~/clearml.conf`
# our current guidance is to set the env variables below 
# as environment variables in each user's Studio, leaving the conf file blank.
# but both work. Do note ClearML will "prefer" env variables (override the config)
CLEARML_API_ACCESS_KEY=
CLEARML_API_SECRET_KEY=


# ESSENTIAL
# =========
# for lightning's reverse proxy (not recommended)
# CLEARML_FILES_HOST=8081-${LIGHTNING_CLOUDSPACE_HOST}
# CLEARML_WEB_HOST=8080-${LIGHTNING_CLOUDSPACE_HOST}
# CLEARML_API_HOST=8008-${LIGHTNING_CLOUDSPACE_HOST}

# for ssh-tunnel deployment
CLEARML_HOST_IP=0.0.0.0
CLEARML_WEB_HOST=0.0.0.0:8080
CLEARML_API_HOST=0.0.0.0:8008
CLEARML_FILES_HOST=0.0.0.0:8081

